<app-checkout-header></app-checkout-header>
<div *ngIf="showCriticalError == false">

	<div id="addressBookWidgetDiv" class="amazon-widget"></div>
	<div id="walletWidgetDiv" class="amazon-widget"></div>

	<div *ngIf="showCheckoutError" class="checkout-error">
		<span>{{checkoutErrorMessage}}</span>
	</div>

	<div *ngIf="addressSelected">

		<h3>Shipping Method</h3>
		<div *ngIf="ratesLoaded == false && ratesError == false">
			<app-loading-panel [showMessage]="false"></app-loading-panel>
		</div>
		<table class="shipping-methods" *ngIf="ratesLoaded && showRates">
			<tr *ngFor="let method of rates">
				<td>
					<span class="shipping-name">{{method.name}}</span><br/>
					<span *ngIf="method.minDeliveryDays != method.maxDeliveryDays" class="shipping-days">{{method.minDeliveryDays}} - {{method.maxDeliveryDays}} business days</span>
					<span *ngIf="method.minDeliveryDays == method.maxDeliveryDays" class="shipping-days">{{method.minDeliveryDays}} business day(s)</span>
				</td>
				<td>
					<button mat-flat-button color="primary" (click)="selectShippingMethod(method)" class="shipping-button" >
						{{method.price | currency}}
					</button>
				</td>
			</tr>
		</table>
		
		<table class="shipping-methods" *ngIf="ratesLoaded && rateSelected && showRates == false && selectedShippingMethod != null">
			<tr>
				<td>
					<span class="shipping-name">{{selectedShippingMethod.name}}</span><br/>
					<span *ngIf="selectedShippingMethod.minDeliveryDays != selectedShippingMethod.maxDeliveryDays" class="shipping-days">{{selectedShippingMethod.minDeliveryDays}} - {{selectedShippingMethod.maxDeliveryDays}} business days</span>
					<span *ngIf="selectedShippingMethod.minDeliveryDays == selectedShippingMethod.maxDeliveryDays" class="shipping-days">{{selectedShippingMethod.minDeliveryDays}} business day(s)</span>
				</td>
				<td>
					<button mat-stroked-button color="primary" (click)="changeShippingMethod()" class="shipping-button">Change</button>
				</td>
			</tr>
		</table>
	</div>

	<div *ngIf="rateSelected && paymentSelected && addressSelected">
		<hr />
		<div *ngIf="finalOrder == null">
			<h3>Getting Order Total</h3>
			<app-loading-panel [showMessage]="false"></app-loading-panel>
		</div>
		<div *ngIf="finalOrder != null">
			<h3>Confirm Your Order</h3>
			<table class="order-totals-table">
				<tr>
					<td>Items:</td>
					<td>{{finalOrder.subtotal | currency}}</td>
				</tr>
				<tr>
					<td>Shipping:</td>
					<td>{{finalOrder.shippingMethod.price | currency}}</td>
				</tr>
				<tr *ngIf="finalOrder.tax > 0">
					<td>Tax:</td>
					<td>{{finalOrder.tax | currency}}</td>
				</tr>
				<tr *ngIf="finalOrder.discounts != 0">
					<td>Discounts:</td>
					<td>{{finalOrder.discounts | currency}}</td>
				</tr>
				<tr class="grand-total">
					<td>Total:</td>
					<td>{{finalOrder.total | currency}}</td>
				</tr>
			</table>
			<div class="place-order" *ngIf="placingOrder == false">
				<button mat-flat-button color="primary" (click)="confirmOrder()">Place Order</button>
			</div>
			<app-loading-panel *ngIf="placingOrder" [message]="'Confirming Payment...'"></app-loading-panel>
		</div>
	</div> 

	<div *ngIf="preLoadComplete == false">
		<h3>Loading Order Data</h3>
		<app-loading-panel [showMessage]="false"></app-loading-panel>
	</div>
	
</div>
<div *ngIf="showCriticalError" class="checkout-error">
	{{criticalErrorMessage}}
</div>

<button mat-button (click)="toggleTesting()" >...</button>
<div *ngIf="showTesting" class="testing-panel">
	<div class="reference-panel">
		Amazon Pay Order Reference ID<br />
		<span>{{orderReferenceId}}</span>
	</div>
	<p>
		<a routerLink="/start">Start Over</a> <br />
		<a href="/start?cart=66245:1;65705:1;68041:1;64008:1;68041:1;65704:1&token=TOKENOFDOOM&userid=1234567890ABCDEFG&channelid=999999999">TEST: Start with Parameters</a> <br />
	</p>
	<app-error-fake></app-error-fake>
	<p>
		Error Test<br />
		<button (click)="errorTest(0)">No Error</button><br />
		<button (click)="errorTest(1)">Unauthorized</button><br />
		<button (click)="errorTest(2)">Bad Request</button>
	</p>
</div>