<div class="order-detail">
	<h3>
		Order Reference #:<br />
		{{order.orderReferenceId}}
	</h3>
	<p>
		{{order.confirmDateObj | date:'medium'}}
	</p>
	<p>
		<button mat-button color="primary" (click)="toggleShow()">Show Details</button>
	</p>
	
	<div  *ngIf="showOrder">
		<table class="order-totals-table">
			<tr>
				<td>Items:</td>
				<td>{{order.subtotal | currency}}</td>
			</tr>
			<tr>
				<td>Shipping:</td>
				<td>{{order.shippingMethod.price | currency}}</td>
			</tr>
			<tr *ngIf="order.tax > 0">
				<td>Tax:</td>
				<td>{{order.tax | currency}}</td>
			</tr>
			<tr *ngIf="order.discounts != 0">
				<td>Discounts:</td>
				<td>{{order.discounts | currency}}</td>
			</tr>
			<tr class="grand-total">
				<td>Total:</td>
				<td>{{order.total | currency}}</td>
			</tr>
		</table>
		<p>
			<a href="https://www.jinx.com/help" target="_blank">Help</a>
		</p>		
		<app-order-item-list></app-order-item-list>
	</div>
</div>